* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-spacing: 5px;
    }

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #dbdbdb;
    }
.header {
    min-height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("stand-acma.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* content */

.header {
    min-height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("stand-acma.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo-link {
    width: 100px;
}
.logo-metin {
    text-decoration: none;
    color: white;
    padding: 18px 42px;
    letter-spacing: 0.5px;
}
.logo-metin:hover {
    color: red;
}
.logo-metin a {
    width: 230px;
    height: 70px;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    padding-top: 18px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.nav-links ul h5:after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5sn;
}
.nav-links ul h5:hover::after {
    width: 100%;
}
.nav-links ul li a.menu {
    width: 230px;
    height: 70px;
}
nav .fa {
    display: none;
}
a.menu {
    text-decoration: none;
    color: white
}
.logolar {
    display: none;
}
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.course-col {
    flex-basis: 31%;
    background-color: wheat;
    border-radius: 10px;
    margin-bottom: 125px;
    padding: 12px 20px;
    transition: 0.4s;
    box-sizing: border-box;
}
.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.course-col1 {
    flex-basis: 31%;
    background-color: wheat;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 12px 20px;
    transition: 0.4s;
    box-sizing: border-box;
}
.course-col1:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;   
}
.row {
    margin-bottom: 75px;
}
.row-1 a button {
    font-weight: bold;
    font-size: 14px;
    background-color: aqua;
    color: black;
    word-spacing: 5px;
}
.row-2 a button {
    font-weight: bold;
    font-size: 14px;
    background-color: tomato;
    color: black;
    word-spacing: 5px;
}
.row3 {
    margin-top: 0px;
}
.row3 button {
    margin-top: 0px;
}
.row-3 a button {
    font-weight: bold;
    font-size: 14px;
    background-color: mediumspringgreen;
    color: black;
    word-spacing: 5px;
}
.row-4 a button {
    font-weight: bold;
    font-size: 14px;
    background-color: pink;
    color: black;
    word-spacing: 5px;
}
.row-5 a button {
    font-weight: bold;
    font-size: 14px;
    color: black;
    background-color: yellow;
    word-spacing: 5px;
}
h3.hakkimizda {
    font-size: 36px;
    font-weight: 600;
    color: black;
}
p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    font-weight: bold;
    line-height: 22px;
    padding: 10px;
}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: red;
    font-weight: bolder;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */


/* FOOTER */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: black;
    color: white;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: white;
}
.alt-logolar {
    font-size: 30px;
}
.text-box a {
    text-decoration: none;
    color: white;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* contact */

.konum {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.konum iframe {
    width: 100%;
}

.sosyal {
    width: 80%;
    margin: auto;
}
.sutun {
    flex-basis: 48%;
    margin-bottom: 30px;
}
.sutun div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.sosyal.row {
    margin-top: 0px;
}
.sutun div a {
    font-size: 28px;
    color: #f44336;
    margin: 30px;
    margin-right: 30px;
}
.sutun div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* mobile responsive */


@media(max-width:700px) {
    .row {
        flex-direction: column;
    }
    .nav-links ul li {
        display: block;
    }
    .logolar {
        flex-direction: row;
        color: black;
        display: flex;
        font-size: 40px;
        padding: 50px;
        padding-left: 10px;
        margin: 20px;
        align-items: center;
        align-self: center;
        padding-top: 20px;
        padding-left: 0px !important;
        text-align: center;
    }
    .logolar a {
        flex-direction: row;
        color: black;
        display: flex;
        font-size: 30px;
        text-decoration: none;
        align-items: center;
        padding: 1px;
        margin: 1px;
        align-self: center;
        padding-top: 40px;
        padding-left: 0px !important;
        text-align: center;
    }
    li#logolar {
        flex-direction: row;
        color: black;
        display: flex;
        font-size: 30px;
        text-decoration: none;
        align-items: center;
        text-align: center;
        padding: 1px;
        margin: 1px;
        align-self: center;
        padding-top: 40px;
        padding-left: 0 !important;
        
    }
    .nav-links {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;

    }
}